fastapi>=0.103.2
fastapi_auth_middleware>=1.0.2
uvicorn>=0.23.2
psycopg2>=2.9.9
asyncer>=0.0.2
peewee>=3.17.1
wonderwords>=2.2.0
python-multipart>=0.0.7
email-validator>=2.0
filetype>=1.2.0
Faker>=23.2.1
